.test{
    border: 1px solid #FFFFFF;
}

.test li {
    text-align: center;
}

body {
    background: #515151;
    color: #FFFFFF;
}

#map {
  background-color: azure;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

a:visited {
    color: #00B4FF;
}

[class*="col-"] {
    width: 95%;
}

@media only screen and (min-width: 504px) {
    .col-1-T {width: 25%;}
    .col-2-T {width: 50%;}
    .col-3-T {width: 75%;}
    .col-4-T {width: 95%;}
}

@media only screen and (min-width: 1024px) {
    .col-1-D {width: 25%;}
    .col-2-D {width: 50%;}
    .col-3-D {width: 75%;}
    .col-4-D {width: 95%;}
}