
html {
    box-sizing: border-box;
}

body {
    background: #515151;
    color: #FFFFFF;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    padding: 10px;
}

/* Custom Nav Bar */
*,*:before, *:after {
    box-sizing: inherit;
}

.bar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background: black;
    opacity: 0.5;
    padding: 10px;
}
#map {
  background-color: azure;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

a:visited {
    color: #00B4FF;
}

.search {
    flex: 1;
}
.search input {
    width: 30%;
}

@media (max-width: 650px) {
    .bar {
        flex-wrap: wrap;
    }
    .icon {
        order: 0 !important;
    }
    .name {
        order: 1 !important;
        width: 100%;
        margin: 15px;
    }
    .search {
        order: 2 !important;
        width: 100%;
    }
}

/* End */

@media (max-width: 650px) {
    .navbar {
        flex-wrap: wrap;
    }
}

/*.nav-links {*/
    /*float: right;*/
    /*display: block;*/
    /*text-align: center;*/
    /*padding: 7px 8px;*/
/*}*/

.test{
    display: flex;
    border: 1px solid #FFFFFF;
    margin-top: 30px;
}

.text-test {
    display: inline-flex;
    text-align: center;
    margin-top: 30px;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
}

a:visited {
    color: #00B4FF;
}