<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head(Login)" />
<body>
<nav th:replace="fragments :: navbar" />

<h1>Log In</h1>

<form th:action="@{/login}" th:method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <br/>
    <input id="moveBtn" type="submit" value="Log In" />



    <div id="LoginErrorDiv">
        <div class="error" th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <!--<div class="error" th:if="${param.logout}">-->
            <!--You have been logged out.-->
        <!--</div>-->
    </div>

</form>



<footer th:replace="fragments :: footer" />

<script th:replace="fragments :: scripts" />
</body>
</html>