<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head(title)" />
<body>
<nav th:replace="fragments :: navbarSearch" />
<div class="container-fluid" id="profile-wrap">
  <div id="profile-tag">
    Profile
  </div>
  <div class="profile-info-container">
    <div>
        <h4 class="label-update" >Update Your Credentials</h4>
    </div>
    <div id="move-cred-fields">
    <div>
      <label for="username">Username</label>
    <!--<h1 th:text="${user.username}"></h1>-->
    </div>
      <div>
        <a href="#" id="username" name="username" data-type="text"
           th:attr="data-token=${_csrf.token},data-param=${_csrf.parameterName},data-pk=${user.id}"
           data-title="Username: " th:text="${user.username}">
        </a>
      </div>
      <div id="user-pass-space"></div>
      <div>
          <label for="email">Email</label>
      </div>
      <!--<p th:text="${user.email}"></p>-->
      <div>
        <a href="#" id="email" name="email" data-type="text"
         th:attr="data-token=${_csrf.token},data-param=${_csrf.parameterName},data-pk=${user.id}"
         data-title="Email: " th:text="${user.email}">
        </a>
      </div>
    </div>
    </div>
    <div id="space-line"></div>
    <div class="profile-info-container">
      <div>
      <h4 class="label-update ">Additional Search Options</h4>
      </div>
        <form th:action="@{/user/search/config}" th:method="POST" th:object="${configuration}">
          <input type="hidden" th:field="*{id}" />
        <label  class="left-margin" for="business-info">Business
          <input id="business-info" type="checkbox" th:field = "*{business}" />
        </label>
        <label  class="left-margin" for="healthcare-info">Health Care
          <input id="healthcare-info" type="checkbox" th:field = "*{healthcare}" />
        </label>
          <label class="left-margin" for="job-market-info">Job Market
            <input id="job-market-info" type="checkbox" th:field="*{jobmarket}" />
          </label>
          <label  class="left-margin" for="tolerance-info">Tolerance
            <input id="tolerance-info" type="checkbox" th:field = "*{tolerance}" />
          </label>
          <label  class="left-margin" for="outdoors-info">Outdoors
            <input id="outdoors-info" type="checkbox" th:field = "*{outdoors}" />
        </label>
        <button class="left-margin" id="extra-info-search">Update</button>
      </form>
    </div>
    <footer th:replace="fragments :: footer" />
</div>

<script th:replace="fragments :: scripts" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
</body>
</html>