<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head(Register)"/>
<body>
<nav th:replace="fragments :: nosearch"/>

<div class="container-fluid">
    <form id="formFlds" class="moveFldsDiv" th:action="@{/user/register}" th:method="POST" th:object="${user}">
        <div id="regHead">Map Your Life!</div>
        <div class="form-group group-to-right">
            <input id="username" placeholder="Username" class="form-control regUsePwr" autofocus="true" th:field="*{username}"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div class="form-group group-to-right">
            <input id="email" placeholder="E-mail" class="form-control regEmail" th:field="*{email}"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="form-group group-to-right">
            <input id="password" type="password" placeholder="Password" class="form-control regUsePwr" th:field="*{password}"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <input class="btn btn-lg btn-primary regBtn" id="btnSubmit" type="submit"/>
    </form>
    <footer th:replace="fragments :: footer"/>
</div>
<script th:replace="fragments :: scripts"/>
</body>
</html>