html, body {
  box-sizing: border-box;
  background: url('../img/swirl_pattern.png') repeat fixed center;
  background-color: #2c2c2c;
}

#content-wrap {
  width: 90%;
  margin-top: 75px;
}

.container-fluid {
  background: none;
}

.intro-search-container {
  border: 1px solid black;
  order: 0;
  width: 100%;
  background: url('../img/congruent_pentagon.png');
}

.intro-div {
  padding: 0 5px;
  background-color: rgba(14, 17, 16, 0.83);
  color: #9ffff2;
}

.intro-div a h2 {
  position: relative;
  top: -30px;
  color: #ffffff;
}

.intro-div p {
  color: #ffffff;
  margin-left: 10px;
  /*background-color: rgba(18, 18, 18, 0.8);*/
}

a:link {
  background: none;
  color: #000000;
}

.navbar-nav li a:hover {
  color: #ffffff;
  background-color: rgba(14, 17, 16, 0.83);
}

a:visited {
  color: #000000;
}

a:hover {
  background-color: #000000;
}

.disappear {
  display: none;
}

.pic-self {
  background-image: linear-gradient(to top, #515151 92%, #00B4FF 8%);
  margin: 5px;
}

.pic-name {
  text-align: center;
  width: 100%;
  color: #EEEEEE;
  font-size: 2em;
}

.pic-img{
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 30vw;
  background-position: center;
  background-size: cover;
}

#test-rotate {
  transform: rotate(180deg);
}

.links-row a img{
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  width: 30%;
  height: 30%;
}

.links-row a img:hover {
  background-color: rgba(0, 180, 255, 0.8);
}

.links-row:first-child img{
  margin-left: 0;
}

.links-row:last-child img{
  margin-right: 0;
}

@media (min-width: 768px) {
  .intro-div a h2 {
    position: relative;
    top: -25px;
    color: #ffffff;
  }

  .flexed-search-item {
    position: relative;
    top: -20px;
  }

  .disappear {
    display: block;
  }

  .intro-search-container {
    z-index: 999;
    position: fixed;
    top: 0;
    color: white;
    background: url('../img/congruent_pentagon.png');
    display: flex;
    flex-direction: row;
    justify-items: center;
    order: 1;
    width: 100%;
  }

  #mobile-nav {
    display: none;
  }

  .intro-div {
    margin-left: 1em;
  }

  #content-wrap {
    padding: 0;
  }

  #pic-container {
    display: flex;
    justify-content: space-between;
  }

  .pic-self {
    background-image: linear-gradient(to top, #515151 92%, #00B4FF 8%);
    width: 31%;
    margin: 2px;
  }

}

@media (max-width: 768px) {
  .pic-img{
    height: 80vw !important;
  }

}