html {
    font-size: 14px;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body input:focus {
    outline: none;
}

body {
    outline: none;
    margin: 0;
    font-family: Edelsans, Avenir, sans-serif;
    color: #FFFFFF;
    background-color: #2c2c2c;

}

.cntr-text {
    text-align: center;
}

/*===================NAV BAR===================*/
.bar {
    color: black;
    z-index: 1;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    background-color: rgba(46, 46, 46, 0.6);
    background-position: center;
    background-size: cover;
    top: 0;
    padding: 5px;
}

.navbar-item {
    margin: 4px;
}

.navbar-inverse {
    background-color: rgba(42, 42, 42, 0.6);
}

.search {
    flex: 1;
}

#logo {
    width: 5rem;
    height: 5rem;
}

#city-input {
    color: #515151;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
}

.go {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 1.5rem;
    background: none;
    border: 1px solid #FFFFFF;
    opacity: 0.8;
}

a:visited {
    color: #00B4FF;
}

/*===================CONTENT BELOW NAVBAR===================*/

/*Wraps everything below navbar*/
#content-wrap {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Wraps location-image, location-name and location-info*/
#city-info-wrap {
    background-color: #abdde9;
}

#location-image {
    width: 100%;
}

#location-name {

}

#location-info {
    background-color: #1BB0CE;
    width: 100%;
    box-shadow: 0 4px 8px 0 #563444;
    text-align: center;
}

/*Self-explanatory, sits in its own section*/
#map {
    margin: 5px auto;
    z-index: 0;
    background-color: azure;
    height: 300px;
    width: 90%;
    border-radius: 8px;
}

/*TODO Change these to have box shading on top and bottom*/
.colored-tile {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  text-align: center;
  font-size: 4vw;
  height: 25vh;
  width: 100vw;
}

/*TODO This will be changed to #content-wrap:nth-child(even)*/
.colored-tile:nth-of-type(even) {
background-color: #69D2E7;
}

/*TODO This will be changed to #content-wrap:nth-child(odd)*/
.colored-tile:nth-of-type(odd) {
  background-color: #69D2E7;
}

.intro-title {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #00B4FF;
}

.section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 4vw;
}

/*==================INFO CARDS CSS==================*/
#info-card-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.expand-btn {
    position: absolute;
    top: 130px;
    right: 5px;
    width: 10vw;
    height: 10vh;
    margin-left: 20vw;
    margin-top: -16vh;
}

/*TODO Make this change size dynamically with vh and vw*/
.expand-img {
    height: 32px;
    width: 32px;
}

.info-card {
  color: #594F4F;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 #201419;
  margin: 5px auto;
  margin-bottom: 0;
  height: 50vh;
  width: 80vw;
  font-size: 25px;
  text-align: center;
  background-color: #E5FCC2;
}

/*TODO Change the position of this element to be always in the top left of .info-card*/
.info-card-img {
    width: 10vw;
    height: 10vh;
    position: relative;
    margin-left: -1.2vw;
    margin-top: -10vh;
    margin-bottom: 16vh;
}

.interior-card {
  font-size: 1em;
}

.hidden {
    display: none;
}

.extra-info {
  color: azure;
  display: none;
  position: relative;
  box-shadow: 0 4px 8px 0 #201419;
  margin: 5px auto;
  margin-top: 0;
  height: 50vh;
  width: 80vw;
  font-size: 1.3em;
  text-align: center;
  background-color: #594F4F;
}

#averages-title {
    font-weight: bold;
}

/*==================INDIVIDUAL INFO BACKGROUNDS==================*/
#happiness-img {
  background-image: url('../img/happiness.png');
}

#salary-img {
  background-image: url('../img/workharder.png');
}

#apartment-img {
  background-image: url('../img/apartments.png');
}

#living-cost-img {
  background-image: url('../img/');
}

#startup-img {
  background-image: url('../img/startups.png');
}

#culture-img {
  background-image: url('../img/culture.png');
}

#weather-img {
  background-image: url('../img/cloudwalking.png');
}

#clean-img {
  background-image: url('../img/windmills.png');
}

footer {
  width: 100%;
  margin-left: 45%;
}