html {
    font-size: 14px;
    max-width: 100vw;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
  background-size: cover;
  background: url('../img/gplaypattern.png') repeat fixed #99bab8;
  outline: none;
  margin: 0;
  font-family: Edelsans, Avenir, sans-serif;
  color: #201419;
}

.cntr-text {
    text-align: center;
}

/*===================NAV BAR===================*/
.bar {
    color: black;
    z-index: 1;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    background-color: rgba(46, 46, 46, 0.6);
    background-position: center;
    background-size: cover;
    top: 0;
    padding: 5px;
}

.navbar-item {
    margin: 4px;
}

.navbar-inverse {
    background-color: rgba(42, 42, 42, 0.6);
}

.search {
    flex: 1;
}

#logo {
    width: 5rem;
    height: 5rem;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
    color: #e9d8a8;
}

#city-input {
    margin: 0 auto;
    width: 50%;
    background-color: #cefffc;
    border-style: inset;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
}

#get-info {
    margin: 0 auto;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 1.3em;
    background: none;
    border: 1px solid #FFFFFF;
    opacity: 0.8;
}

a:visited {
    color: #00B4FF;
}

/*===================CONTENT BELOW NAVBAR===================*/

/*Wraps everything below navbar*/
#content-wrap {
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Wraps location-image, location-name and location-info*/
#city-info-wrap {
    background-color: #abdde9;
}

#location-image {
    border: 2px #a0ffe2 solid;
    width: 100%;
}

#location-name {

}

#location-info {
  color: #e4eeec;
    background-color: #121212;
    width: 100%;
    box-shadow: 0 4px 8px 0 #563444;
    text-align: center;
}

#map-backdrop {
    height: 345px;
}

#map-backdrop-img {
    display: block;
    height: 100%;
    margin: auto;
}

/*Self-explanatory, sits in its own section*/
#map {
    position: relative;
    top: -270px;
    /*right: 25%;*/
    margin: 5px auto;
    z-index: 0;
    background-color: rgba(240, 255, 255, 0.65);
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

#icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#icon-container {
  background-image: url('../img/002-compass.svg');
  position: relative;
  width: 20em;
  height: 20em;
  padding: 2.8em;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
#icon-container a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em;
}

/*ICON PLACEMENT AROUND AXIS*/
#icon-container img {
  background: rgba(44, 44, 44, 0.8);
  border-radius: 50%;
  display: block; width: 100%;
}
#deg0 { transform: translate(10em); } /* 12em = half the width of the wrapper */
#deg27692 { transform: rotate(30deg) translate(10em) rotate(-30deg); }
#deg55384 { transform: rotate(60deg) translate(10em) rotate(-60deg); }
#deg83076 { transform: rotate(90deg) translate(10em) rotate(-90deg); }
#deg11076 { transform: rotate(120deg) translate(10em) rotate(-120deg); }
#deg13846 { transform: rotate(150deg) translate(10em) rotate(-150deg); }
#deg16615 { transform: rotate(180deg) translate(10em) rotate(-180deg); }
#deg19384 { transform: rotate(210deg) translate(10em) rotate(-210deg); }
#deg22153 { transform: rotate(240deg) translate(10em) rotate(-240deg); }
#deg24923 { transform: rotate(270deg) translate(10em) rotate(-270deg); }
#deg276-92 { transform: rotate(300deg) translate(10em) rotate(-300deg); }
#deg30461 { transform: rotate(330deg) translate(10em) rotate(-330deg); }

.intro-title {
  padding: 5px;
  background-color: #201419;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

/*==================ICONS==================*/
#info-card-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info .extra-info{
  height: 80%;
  width: 80%;
}

.icon {
  height: 32px;
  width: 32px;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  color: #201419;
  position: relative;
  box-shadow: 0 4px 8px 0 #19211f;
  margin: 5px auto;
  margin-bottom: 0;
  width: 90%;
  font-size: 1em;
  text-align: center;
  background-color: #bffff0;
}

/*TODO Change the position of this element to be always in the top left of .info-card*/
.info-card-img {
    width: 10vw;
    height: 10vh;
    position: relative;
    margin-left: -1.2vw;
    margin-top: -10vh;
    margin-bottom: 16vh;
}

.hidden {
    display: none;
}

.shown {
  /*display: inherit;*/
}

#job-dropdown {
  margin: 0 auto;
  width: 60%;
}

.extra-info {
    display: none;
    position: relative;
    color: #201419;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 #563444;
    margin: 5px auto;
    margin-bottom: 0;
    height: 300px;
    width: 360px;
    font-size: 2vw;
    text-align: center;
    background-color: #dde4d3;

}

#averages-title {
    font-weight: bold;
}

footer {
    margin: auto;
}

#moveAllFlds{
    border-color: white;
    border: solid;
    height: 215px;
    margin-top: -10px;
}

#logBtn{
    margin-top: 15px;
}

#updateProfile{
    font-size: 25px;
    color: white;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #515151;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    position: relative;
    top: 145px;
    border: dimgray;
    border-style: solid;
    border-width: 1px;
}

#titleLbl{
    margin-left: 450px;
    margin-top: 50px;
}

.error{
    color: red;
    font-size: large;
}

#errorDiv{
    margin-top: 160px;
    margin-left: -90px;
}

.site-name{
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
}

.moveFldsDiv{
    margin-top: 85px;
}

#logBtn{
    margin-top: 15px;
}

/*SIDE NAVIGATION*/
.to-top-btn {
    position: fixed;
    bottom: 150px;
    right: -100px;
    z-index: 999999;
    background: gray;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.to-top-btn:hover {
     color: white;
     background: black;
     cursor: pointer;
 }

.to-btm-btn {
  position: fixed;
  bottom: 50px;
  right: -100px;
  z-index: 999999;
  background: gray;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.to-btm-btn:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.showme {
    position: fixed;
    /*bottom: 50px;*/
    z-index: 999999;
    background: gray;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    right: 30px;
 }

i {
    font-size: 30px;
    margin-top: 7px;
    margin-left: -2px;
}

/*new for check boxes*/
.extra-info{
    margin-right: 10px;
}

@media screen and (min-width: 768px) {

    .btn-link {
        margin-top: 11%;
    }
}

#burger {
    position: absolute;
    top: -1%;
    right: 1%;
}

#user-options{
    border: solid;
    border-color: black;
    height: 215px;
}

.label-update{
    color: white;
    background-color: black;
    margin: 0px;
    height: 35px;
    padding-top: 0.5%;
    padding-left: 0.5%;
}

#space-line{
    height: 10px;
}

#move-cred-fields{
    padding-top: 1%;
    padding-left: 1%;
}

#profile-tag{
    color: black;
    padding-top: 33px;
    font-size: 45px;
}

#user-pass-space{
    margin-top: 1%;
    height: 1%;
    width: 1%;
}

.left-margin{
    margin-left: 1%;
}


#job-dropdown {
    width: 95%;
    font-size: 0.5em;
}

/*#salary-img div{*/
    /*padding-top: 7%;*/
/*}*/

/*#happiness-img div{*/
    /*padding-top: 11%;*/
    /*font-size: 2em;*/
/*}*/

/*#happiness-img div img{*/
    /*position: absolute;*/
    /*width: 15%;*/
    /*height: 15%;*/
    /*margin-left: 15%;*/
    /*margin-top: -15%;*/
    /*margin-bottom: 0;*/
/*}*/

/*#apartment-img div{*/
    /*padding-top: 8%;*/
/*}*/

/*#living-cost-img div{*/
    /*padding-top: 11%;*/
/*}*/

/*#startup-img div{*/
    /*padding-top: 9%;*/
    /*font-size: 0.7em;*/
/*}*/

/*#startup-img div img{*/
    /*position: absolute;*/
/*}*/

/*#culture-img div{*/
    /*padding-top: 9%;*/
    /*font-size: 1.5em;*/
/*}*/

/*#weather-img div{*/
    /*padding-top: 13%;*/
    /*font-size: 1.4em;*/
/*}*/

.footer {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

footer {
    width: 19%;
    margin: 1% auto;
}
/*#clean-img div{*/
    /*padding-top: 12%;*/
/*}*/

@media (min-width: 768px) {

}

#usernameLbl, #passwordLbl, #emailLbl {
    font-size: 1.5em;
    margin-left: 25%;
}

#loginHeader {
    display: inline;
    background-color: rgba(81, 81, 81, 0.67);
    border-radius: 50px;
    color: aquamarine;
    font-size: 5em;
    padding: 10px;
}

#username, #password {
    border-radius: 8px;
    background-color: #515151;
    color: #00B4FF;
    margin: 0 auto;
    width: 50%;
    font-size: 1.3em;
    font-weight: bold;
}

#email {
    border-radius: 8px;
    background-color: #00B4FF;
    color: #515151;
    margin: 0 auto;
    width: 50%;
    font-size: 1.3em;
    font-weight: bold;
}

#btnSubmit {
    display: block;
    margin: 1% auto;
}

#regHead {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
