<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--HEAD FRAGMENT-->
<div th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/globalGym.css" />
    <link rel="shortcut icon" th:href="@{/img/006-map.ico}" type="image/ico"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</div>

<!--LOGIN HEAD FRAGMENT-->
<div th:fragment="login(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/globalGym.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" th:href="@{/img/006-map.ico}" type="image/ico"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</div>

<!--ABOUT HEAD FRAGMENT-->
<div th:fragment="about(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/globalGym.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="shortcut icon" th:href="@{/img/006-map.ico}" type="image/ico"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</div>

<body>
<!--NAV HOME / JOBS FRAGMENT-->
<nav th:fragment="navbarSearch" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-1 col-sm-2 col-md-2 col-lg-2">
            <a class="navbar-brand" href="/">LifeMap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse col-1 col-sm-2 col-md-2 col-lg-2" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a href="/register">Register <span class="sr-only">(current)</span></a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile">Profile <span class="sr-only">(current)</span></a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-link" >Logout</button>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="">
            <button type="button" id="burger" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<!--NAV BAR FRAGMENT-->
<nav th:fragment="navbar" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LifeMap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a href="/register">Register <span class="sr-only">(current)</span></a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile">Profile <span class="sr-only">(current)</span></a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-link">Logout</button>
                    </form>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<nav th:fragment="side-nav">
    <div class="btn to-top-btn hidden-xs hidden-sm">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </div>
    <div class="btn to-btm-btn hidden-xs hidden-sm">
        <i class="glyphicon glyphicon-arrow-down"></i>
    </div>
</nav>

<!--FOOTER FRAGMENT-->
<footer th:fragment="footer">
    <a class="footer" href="/about">The LifeMap Team</a>
</footer>

<!--SCRIPTS FRAGMENT-->
<scripts th:fragment="scripts">
  <input id="openWeatherMapKey" type="hidden" th:value="${@environment.getProperty('openweathermaps.key')}"/>
  <span class="hidden" id="username" sec:authorize="isAuthenticated()" sec:authentication="name" />
  <input id="indeedKey" type="hidden" th:value="${@environment.getProperty('indeed.key')}"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google.maps.key') + '&amp;libraries=places'}"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    const MAPS_KEY = "@environment.getProperty('google.maps.key')";
    const business = $('#business').attr('data'); //0 or 1
    const healthCare = $('#healthcare').attr('data');
    const jobMarket  = $('#jobmarket').attr('data');
    const tolerance  = $('#tolerance').attr('data');
    const outdoors = $('#outdoors').attr('data');
    const user = $('#username').text();
    console.log(user);
    /*]]>*/
  </script>
  <script src="/JS/ajax.js"></script>
  <script src="/JS/forms.js"></script>
</scripts>

</body>
</html>