<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--HEAD FRAGMENT-->
<head th:fragment="head(title)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="js/globalGym.css"/>
  <link rel="shortcut icon" href="/img/logoplaceholder.ico" type="image/ico"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
  </script>
</head>

<body>

<!--NAV BAR FRAGMENT-->
<nav th:fragment="navbar" class="navbar navbar-default" id="nav-bar">
  <img src="/img/logoplaceholder.svg" alt="logo" width="32" height="32"/>
  <a href="/"><h2>LifeMap</h2></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li sec:authorize="isAuthenticated()">
      <a href="/profile">Profile</a>
    </li>
    <li sec:authorize="isAuthenticated()">
      <form th:action="@{'/logout'}" th:method="post">
        <button>Log Out</button>
      </form>
    </li>
    <li sec:authorize="!isAuthenticated()"><a href="/login">Log In</a></li>
    <li sec:authorize="!isAuthenticated()"><a href="/register">Join Us!</a></li>
  </ul>
</nav>

<footer th:fragment="footer">
  <ul>
    <li>
      <a href="/about">The SimpleSauce Team</a>
    </li>
  </ul>
</footer>

<!--SCRIPTS FRAGMENT-->
<scripts th:fragment="scripts">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script th:src="${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google.maps.key')}"></script>
  <script src="/js/ajax.js"></script>
  <!--<script src="http://api.glassdoor.com/api/api.htm?t.p=167558&t.k;=kRjES33TNWE-->
<!--&userip=0.0.0.0&useragent=&format=json&v=1&action=jobs-stats&returnStates=true&admLevelRequested=1"></script>-->
</scripts>

</body>
</html>