<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: about(About)" />
<body>
<nav th:replace="fragments :: navbarSearch" />
<div th:replace="fragments :: nosearch"></div>
<div class="container-fluid" id="content-wrap">
    <div id="pic-container">
        <div class="pic-self col-4 col-sm-4 col-md-4 col-lg-4">
            <p class="pic-name">Everardo Sifuentes</p>
            <div class="pic-img" style="background-image: url('/img/everardo-sifuentes.jpg');" ></div>
            <div class="links-row">
                <a href="https://github.com/syee4sev"  target="_blank"><img src="/img/GitHub_Logo_White.png" /></a>
                <a href="https://www.linkedin.com/in/everardosifuentes/" target="_blank"><img src="/img/Link.png" /></a>
                <a href="" target="_blank"><img src="/img/codeup-mark-horizontal.png" /></a>
            </div>
        </div>
        <div class="pic-self col-4 col-sm-4 col-md-4 col-lg-4">
            <p class="pic-name">James Carrico</p>
            <img class="pic-img" style="background-image: url('/img/JamesCarrico.jpg');" />
            <div class="links-row">
                <a href="https://github.com/Jerik0" target="_blank"><img src="/img/GitHub_Logo_White.png" /></a>
                <a href="https://www.linkedin.com/in/jamescarrico/" target="_blank"><img src="/img/Link.png" /></a>
                <a href="" target="_blank"><img src="/img/codeup-mark-horizontal.png" /></a>
            </div>
        </div>
        <div class="pic-self col-4 col-sm-4 col-md-4 col-lg-4">
            <p class="pic-name">Jaime Moncada</p>
            <img class="pic-img" style="background-image: url('/img/JaimeMoncada.jpg');" />
            <div class="links-row">
                <a href="https://github.com/jmoncad2" target="_blank"><img src="/img/GitHub_Logo_White.png" /></a>
                <a href="https://www.linkedin.com/in/jaime-moncada/" target="_blank"><img src="/img/Link.png" /></a>
                <a href="" target="_blank"><img src="/img/codeup-mark-horizontal.png" /></a>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments :: scripts" />
</body>
</html>