<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: headSearch('LifeMap')"/>
<body>
<nav th:replace="fragments :: navbarSearch"/>
<div id="content-wrap">
    <!--Temp location for Search Info-->
    <div class="city-info-wrap">
        <div id="image-container"></div>
            <h1 class="cntr-text" id="location-name">Type An Address!</h1>
        <div id="location-info"></div>
    </div>

    <div id="map"></div>

    <div id="info-card-container"></div>

    <footer th:replace="fragments :: footer"/>
</div>
<script th:replace="fragments :: scripts"/>
</body>
</html>