<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
    <title>Jobs</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/jobsPage.css" />
    <!--<link rel="shortcut icon" href="./img/logoplaceholder.ico" type="image/ico"/>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
</head>
<body>
<!--Custom navbar for main page-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/jobs">
                <img src="/img/placeholder-3.svg" id="logo" />
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
            <div class="navbar-left">
                <input type="text" class="form-control navbar-item" id="city-input" placeholder="Company Address"/>
            </div>
            <button class="go navbar-item" id="get-info">Search</button>
    </div>
</nav>

<div id="content-wrap">
    <!--Temp location for Search Info-->
    <div class="city-info-wrap">
        <div id="image-container"></div>
            <h1 class="cntr-text" id="location-name">Type An Address!</h1>
        <div id="location-info"></div>
    </div>

    <div id="map"></div>

    <div id="info-card-container"></div>

    <footer th:replace="fragments :: footer" />
</div>

<script th:replace="fragments :: scripts" />
</body>
</html>